<footer class="inner-container">
  <div class="footer-section footer-section-lg">
    <a href="http://caremessage.org">
      <img src="/images/cm-logo.svg" alt="CareMessage Logo" class="cm-logo">
    </a>

    <p>CareMessage uses mobile technology to make underserved populations
      healthier.</p>

      <p>Built with a lot of &lt;3 in San Francisco<br>
        &copy;2016 CareMessage</p>
  </div>

  <div class="footer-section">
    <h3>Company</h3>

    <ul>
      <li><a href="http://caremessage.org">Home</a></li>
      <li><a href="/product/">Product</a></li>
      <li><a href="/outcomes/">Outcomes</a></li>
      <li><a href="/terms/">Terms</a></li>
      <li><a href="/privacy/">Privacy Policy</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h3>About Us</h3>

    <ul>
      <li><a href="/about/">About Us</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/careers/">Careers</a></li>
      <li><a href="/signin/">Sign In</a></li>
    </ul>
  </div>

  <div class="footer-section footer-section-last">
    <h3>Contact Us</h3>

    <p>Feel free to get in touch with us.</p>

    <p>+1233456789</p>

    <ul class="footer-social">
      <li><a href="https://www.facebook.com/caremessage">
        <img src="/images/social/facebook.svg" alt="Facebook"></a></li>
      <li><a href="https://twitter.com/caremessage">
        <img src="/images/social/twitter.svg" alt="Twitter"></a></li>
      <li><a href="https://www.linkedin.com/company/anjna-patient-education">
        <img src="/images/social/linkedin.svg" alt="LinkedIn"></a></li>
      <li><a href="https://medium.com/@CareMessage">
        <img src="/images/social/medium.svg" alt="Medium"></a></li>
    </ul>
  </div>
</footer>
