<footer>
  <div class="container">
    <div class="inner-container">
      <div class="footer-section footer-section-lg">
        <a href="/">
          <img src="/images/cm-logo.svg" alt="CareMessage Logo" class="cm-logo">
        </a>

        <p class="footer-add-space">CareMessage uses mobile technology to make
          underserved populations healthier.</p>

          <p>&copy;2016 CareMessage</p>
      </div>

      <div class="footer-section">
        <h3>Company</h3>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/product/">Product</a></li>
          <li><a href="/outcomes/">Outcomes</a></li>
          <li><a href="https://app.caremessage.org/terms_of_use/" target="_blank">Terms</a></li>
          <li><a href="https://app.caremessage.org/privacy_policy/" target="_blank">Privacy Policy</a>
            </li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>About Us</h3>

        <ul>
          <li><a href="/about/">About Us</a></li>
          <li><a href="https://blog.caremessage.org" target="_blank">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/careers/">Careers</a></li>
          <li><a href="https://app.caremessage.org" target="_blank">Sign In</a></li>
        </ul>
      </div>

      <div class="footer-section footer-section-last">
        <h3>Follow Us</h3>

        <ul class="footer-social">
          <li><a href="https://www.facebook.com/caremessage" target="_blank">
            <img src="/images/social/facebook.svg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com/caremessage" target="_blank">
            <img src="/images/social/twitter.svg" alt="Twitter"></a></li>
          <li><a href="https://www.linkedin.com/company/caremessage/"
            target="_blank">
            <img src="/images/social/linkedin.svg" alt="LinkedIn"></a></li>
          <li><a href="https://blog.caremessage.org" target="_blank">
            <img src="/images/social/medium.svg" alt="Medium"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
