<header>
  <div class="container">
    <div class="inner-container clearfix">
      <a href="http://caremessage.org">
        <img src="/images/cm-logo.svg" alt="CareMessage Logo" class="cm-logo">
      </a>

      <nav>
        <ul>
          <li><a href="http://caremessage.org">Home</a></li>
          <li><a href="/product/">Product</a></li>
          <li><a href="/outcomes/">Outcomes</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="https://app.caremessage.org" class="nav-button">Login</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
