//**
// Main Layout Styles
//**

// Hero images
.hero {
  position: relative;
  margin-bottom: 8.5em;
}

.hero-text {
  position: absolute;
  top: 9.5rem;
  left: 10rem;
  width: 33rem; // 528/1440
  color: $white;

  h2 {
    margin-bottom: 1rem;
    font-family: $font-stack;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.8;
  }

  &.hero-text-large {
    width: 50rem;

    h2 {
      font-size: 4.8rem;
    }

    h3 {
      width: 33rem;
    }
  }
}

// Row layout
.row-heading {
  text-align: center;
  margin-bottom: 3rem;

  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.95rem;
    font-weight: bold;
  }

  p {
    text-align: center;
    color: $steel-blue;
  }
}

.row-content {
  margin-top: 0;
}

// General layout
.left-pad {
  padding-left: 1.5rem;
}

.left-pad-extra {
  padding-left: 3rem;
}

// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
