//**
// Project Settings
//**

// Consistent settings
$br: 3px; // Border-radius
$btn-br: 3px; // Button border-radius
$padding: 40px; // Padding and margins

// Responsive breakpoints
$small-break: 480px;
$big-break: 780px;

// Colors
$turquoise: #24d0b3;
$light-turquoise: #c3f4ed;
$light-green: #b8e986;
$green: #2ecc40;
$dark-green: #589718;
$light-blue: #0bb0f6;
$blue:  #0074d9;
$steel-blue: #8c9da6;
// Warm
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$light-gray: #e6e6e6;
$gray:   #aaa;
$dark-gray: #696969;
$black:  #111;

// Project color variables
$primary-color: #1271db;
$secondary-color: #233e5b;
$tertiary-color: #aaa;

// Colors for forms, etc
$danger-color: $red;
$success-color: $green;
$info-color: $blue;
$warning-color: $orange;
$subtle-color: $gray;

// Font colors
$font-color: $dark-gray;
$font-subtle-color: $steel-blue;
